# BSC Network
NEXT_PUBLIC_BSC_RPC_URL=https://bsc-dataseed.binance.org
NEXT_PUBLIC_BSC_TESTNET_RPC=https://data-seed-prebsc-1-s1.binance.org:8545
NEXT_PUBLIC_CHAIN_ID=56

# Contract Addresses (BSC Mainnet)
NEXT_PUBLIC_INSUR_ADDRESS=
NEXT_PUBLIC_POOL_ADDRESS=
NEXT_PUBLIC_VERIFIER_ADDRESS=
NEXT_PUBLIC_POLICY_ADDRESS=
NEXT_PUBLIC_DEX_ROUTER_ADDRESS=

# PancakeSwap
NEXT_PUBLIC_PANCAKE_ROUTER=0x10ED43C718714eb63d5aA57B78B54704E256024
NEXT_PUBLIC_WBNB=0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c

# WalletConnect
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
